// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.badge{
  padding: 0em 1.39em;
  margin-left: -.4em;
  min-width: 1.875em;
  font-weight: normal;
  border-radius: .4em;
  background-color: #3e4451;
}

/* This might not be the best way to do it */
atom-text-editor::shadow{
  .my-line-class{
    .region{
      background-color: @background-color-highlight;
    }
  }

  .done-badge{
    .region{
      .badge;
      background-color: rgba(32, 182, 132, 0.5);
      border: 2px solid #282C34;
    }
  }

  .item-done{
    opacity: 0.4;
  }

  .item-today{
    color: @text-color-warning;
  }
}
